@model CRM.Model.Person

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @await Html.PartialAsync("_EditPartial")
           <input type="submit" value="Save" class="btn btn-default" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@await Html.PartialAsync("_ValidationScriptsPartial")

