@model CRM.Model.PersonIndexModel
@{
    ViewData["Title"] = "List";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<form onsubmit="return Run();">
    LastName: @Html.EditorFor(m => m.LastName)
    <button  type="submit">Search</button>
</form>
<div id="result">
    @await Html.PartialAsync("_List", Model.People)
</div>
    <script>
        var action = '@(Url.Action(nameof(CRM.Controllers.PersonController._List)))'
        function Run() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4) {
                    document.getElementById("result").innerHTML =
                        "Loaded by ajax:<br/>" + this.responseText;
                }
            };
           
            var lastName = document.getElementById("LastName").value;
            xhttp.open("GET", action + "?lastname=" + encodeURI(lastName), true);
            xhttp.send();
            return false;
        }
    </script>
