
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <title>@ViewBag.Title</title>
</head>
<body>
    <H1>@ViewBag.Title</H1>
    @RenderBody()
</body>
</html>
